<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>closed-tender-details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <% var activePage = 'closed-tenders'; %> 
    <%- include('partials/navbar', { activePage: activePage }) %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 p-4">


                <a href="/closed-tenders" class="btn btn-primary">Back</a>
                <h3></h3>
                
                <h3 class="text-muted">Selected Tender:</h3>
                
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Institution Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">Deadline</th>
                            
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><%= tender.id %></th>
                                <td><%= tender.title %></td>
                                <td><%= tender.description %></td>
                                <td><%= tender.institutionName %></td>
                                <td><%= tender.startDate %></td>
                                <td><%= tender.endDate %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>    
               
                <h3></h3>
                <% if (bids.length === 0) { %>
                    <h3 class="text-muted">The tender has ended without a resolution</h3>
                <% } else { %>
                    <h3 class="text-muted">Bids for selected Tender:</h3>
                    <h3></h3>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Bidder Name</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Submission time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% bids.forEach((bid, index) => { %>
                                    <tr>
                                        <th scope="row"><%= index + 1 %></th>
                                        <td><%= bid.bidderName %></td>
                                        <td><%= bid.amount %></td>
                                        <td><%= bid.createdAt %></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>    
                <% } %>

            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>