<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>closed-tender-details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <% var activePage = 'closed-tenders'; %> 
    <%- include('partials/navbar', { activePage: activePage }) %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 p-4">

                <!-- <h1>
                    <span class="display-3">Welcome to</span>
                    <span class="display-3" style="font-weight:400;">TenderOnline!</span>
                </h1>

                <h2 class="display-4 text-muted">Create your own tenders</h2>
                <h2 class="display-4 text-muted">Participate in active tenders</h2>
                <h2 class="display-4 text-muted">Submit your bids</h2> -->

                <!-- <h3>Active Tenders</h3>
                <ul class="list-group">
                    <% tenders.forEach(tender => { %>
                        <li class="list-group-item">
                            <h5><%= tender.title %></h5>
                            <p><%= tender.description %></p>
                            <p><strong>Budget:</strong> <%= tender.budget %> PLN</p>
                            <p><strong>Deadline:</strong> <%= tender.endDate %></p>
                            <a href="/tenders/<%= tender.id %>" class="btn btn-primary">View Details</a>
                        </li>
                    <% }); %>
                </ul> -->

                <!-- id title description startDate endDate budget status -->
                <div class="table-responsive">
                    
                        <h3 class="text-muted">Closed Tenders</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                <th scope="col"></th>
                                <th scope="col">Title</th>
                                <th scope="col">Opened</th>
                                <th scope="col">Deadline</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% tenders.forEach(tender => { %>
                                    <tr>
                                        <th scope="row"><%= tender.id %></th>
                                        <td><a href="/tenders/<%= tender.id %>"><%= tender.title %></a></td>
                                        <td><%= tender.startDate %></td>
                                        <td><%= tender.endDate %></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    
                </div>    
               


            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>